@import './variables';

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $font-color;
    text-align: center;
}

.videos-container{
    width: 100%;
}


.video{
    width: 100%;
    margin: 4em auto 4em auto;
}

h2{
    margin: 2em  0 2em 0;
    font-size: 10vmin;
}