@import './variables';

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $font-color;
    text-align: center;
}

.videos-container{
    width: 100%;
}


.video{
    width: 100%;
    margin: 0em auto 4em auto;
    border-bottom: solid 2px $inverted-bgColor;
    padding-bottom: 4em;

    &:nth-of-type(3){
        border: none;
    }
}

h2{
    margin: 2em  0 1em 0;
    font-size: 10vmin;
}