@import './_variables';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Ubuntu&display=swap');


:root {
  font-family: $second-font;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(47, 38, 22);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



*,
*::before,
*::after, html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width: 100vw;
  height: 100%;
}

html{
  overflow-x: hidden;
}


.u-no-scroll{
  overflow-y: hidden;
}

a{
  text-decoration: none;

}

#app{
  background-color: $background-color;
}

/*  _________________________Carousel____________________  */ 


.carousel__item{
  float: left;
}
.carousel-wrapper{
  padding-bottom: 5rem;
  overflow: hidden;
}
.carousel__container{
  transition: transform 0.3s;
  transform: translate3d(0, 0, 0);
}

.carousel__container::after{
  content: '';
  clear: both;
  display: table;
}

.carousel{
  position: relative;
}


.carousel__next, .carousel__prev{
  position: absolute;
  width: 10vmin;
  max-width: 50px;
  height: 10vmin;
  max-height: 50px;
  z-index: 10;
  background: #ffffff url(../assets/forwardArrow.svg) center center no-repeat;
  background-size: 20px 20px;
  border-radius: 50%;
  top: 50%;
  margin-top: -20px;
  right: 0px;
  box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
  cursor: pointer;
  transition: transform 0.3s opacity 0.3 
}

.carousel__next:hover, .carousel__prev:hover{
  transform: scale(1.2);
}

.carousel__prev{
  right: auto;
  background-image: url(../assets/backArrow.svg);
}

.carousel__prev--hidden, .carousel__next--hidden{
  display: none;
}



@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'),
    url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
      format('woff2');
  font-display: swap;
}



// appVideo


.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.video_container{
  position: relative;
  padding-bottom: clamp(0px, 56.25%, 393.75px); /* Rapport 16:9 pour une vidéo */
  height: 0;
  overflow: hidden;
  width: clamp(0px, 90%, 700px);
  margin:1em auto 0 auto;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}

.title{
  font-size: 7vmin;
}

.container-overlay{
  width: 50%;
  height: auto;
}

.s_f{
  text-align: center;
}

.a_d_d_n {
  .img_container{
    width: clamp(0px, 90%, $max-width);
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
        width: 100%;
        margin-bottom: 0.5em;
        object-fit: contain;
        max-height: $max-height;
    }
}
}

@media screen and (min-width: 420px) {

  .a_d_d_n{
    .img_container1{
      display: grid;
      grid-template-columns: 1fr 1fr ;
      margin-top: 4vmax;

      img:first-child{
          grid-row: 1 / 3;
          align-self: baseline;
          justify-self: end;
      }

      img{
          align-self: baseline;
          margin-bottom: 0;
          max-height: $max-height;
      }
  }
  }
  
}

.genopolys, .a_d_d_n, .u_n_en_r, .s_a, .z_t, .s_f , .cnr, .folgore, .raiders, .coulise, .redplane, .s_f{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .text{
    margin: 2em;
  }
  .container{
    width: 100%;
  }

  .cnr_img{
    background-image: url(https://static.wixstatic.com/media/2f8a00_55b49ad087f0421d902e1013a93f9c69~mv2.png/v1/fill/w_966,h_239,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/goOgI1.png);
    width: max(90%);
    height: 30vw;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2em auto 0 auto;
    max-width: $max-width;
    max-height: 200px;

}p{
  width: max(90%);
  font-size: 4vmin;
  margin: 2em auto 1em auto;
}

.container{
  margin: 0;
  width: 100%;
}

a{
  color: $callToAction;
  text-decoration: none;
}

iframe{
  width: 100%;
  margin: 1em auto;
  max-width: $max-width;
}


.steam{
  background: rgb(19,25,47);
  background: linear-gradient(180deg, rgba(19,25,47,1) 0%, rgba(17,123,172,1) 100%); 
}


.carousel_container{
  max-width: $max-width;
  overflow: hidden;



  img {
      object-fit: cover;
      height: 30vmin;
      width: 100%;
  }
}

.carousel_container2{
  max-width: $max-width;
  overflow: hidden;


  img {
      object-fit: cover;
      height: 30vmin;
      width: 100%;
  }
}

.title{
  font-size: 7vmin;
  margin: 0em auto 1em auto;
}
}

.no-border{
  border: none!important;
}

::placeholder{
  font-family: $second-font;
}