@import './variables';

main, section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    text-align: start;
    width: 100%;
    margin: 1em auto 1em auto;

    &:nth-child(6){
        margin-bottom: 5em;
    }
}

h1{
    font-size: 8vmin;
    margin: 2em auto 1em auto ;
    font-weight: normal;
}

.title{
    font-size: 6vmin;
    margin: 1em auto 1em auto;
    font-weight: bold;
}

p{
    width: 100%;
    font-size: 4vmin;
    font-style: italic;
}

.text{
    width: 70%;
    margin-bottom: 1em;
    max-width: $max-width;
}
.show_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 95%;
    position: relative;
    max-width: $max-width;

}

.game_audio{

    div:nth-child(2), div:nth-child(3){
        object-position: left;
        background-position: left;
    }
}

.linear_audio div:nth-child(1), div:nth-child(3){
    object-position: bottom;
    background-position: bottom;
}

.re_sound_design div:nth-child(1){
    object-position: left;
    background-position: left;

}

.show_img{
    width: 100%;
    aspect-ratio: 1 / 1;
    background-size: cover;
    transition: filter .5s ease,opacity .5s ease,-webkit-filter .5s ease;

}

.overlay_text{
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter .5s ease,opacity .5s ease,-webkit-filter .5s ease;
    cursor: pointer;


    h2{
        color: $primary-color;
        position: relative;
        font-size: 5vmin;
        
    }

    &:hover{
        opacity: 1;
    }
}