@import '../_variables';

.cnr_img{
    background-image: url(https://static.wixstatic.com/media/2f8a00_55b49ad087f0421d902e1013a93f9c69~mv2.png/v1/fill/w_966,h_239,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/goOgI1.png);
    width: max(90%);
    height: 30vw;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2em auto 0 auto;
    max-width: $max-width;
    max-height: 200px;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;

    border-bottom: solid 2px $inverted-bgColor;
    padding: 1em;
}
p{
    width: max(90%);
    font-size: 4vmin;
    margin: 2em auto 1em auto;
}

.container{
    margin: 0;
    width: 100%;
}

a{
    color: $callToAction;
    text-decoration: none;
}

iframe{
    width: max(90%);
    margin: 1em auto;
    max-width: $max-width;
}


.steam{
    background: rgb(19,25,47);
    background: linear-gradient(180deg, rgba(19,25,47,1) 0%, rgba(17,123,172,1) 100%); 
}


.carousel_container{
    max-width: $max-width;
    overflow: hidden;



    img {
        object-fit: cover;
        height: 30vmin;
        width: 100%;
    }
}

.carousel_container2{
    max-width: $max-width;
    overflow: hidden;


    img {
        object-fit: cover;
        height: 30vmin;
        width: 100%;
    }
}

.title{
    font-size: 7vmin;
    margin: 0em auto 1em auto;
}

// ________________________Mosaique_______________________________

.mosaique-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: calc(100vw * 0.19) calc(100vw * 0.19);

    img{
        width: 100%;
        object-fit: cover;
        transition: filter .5s ease,opacity .5s ease,-webkit-filter .5s ease;
        transform-origin: center center; /* Centre de l'image */
    }
    
    .img-container:nth-child(1){
        
        img{
            transform: scale(1)
        }
    }
    .img-container:nth-child(2){
        
        img{
            transform: scale(1.1);
            transform-origin: left center; 
        }
    }
    
    .img-container:nth-child(3){
        
        img{
            transform: scale(1);
        }
    }
    
    .img-container:nth-child(4){

        img{
            transform: scale(3.5);
        }
    }

    .img-container:nth-child(5){

        img{
            transform: scale(1);
        }
    }
    
    


    .img-container{
        position: relative;
        display: flex;
        overflow: hidden;
        grid-column: span 2

        
    }
    .overlay{
        position: absolute;
        opacity: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($color: #000000, $alpha: 0.75);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: filter .5s ease,opacity .5s ease,-webkit-filter .5s ease;
        cursor: pointer;

        h2{
            color: white;
            position: relative;
            font-size: 5vmin;
            
        }
    
        &:hover{
            opacity: 1;
        }
    }
}

.desktop{
    width: 100%;
}

