@import '../variables';


section, main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    border-bottom: solid 2px $inverted-bgColor;
    padding: 1em;
}

.text{
    text-align: center;
    margin: 2em auto 1em auto;
    font-size: 4vmin;
}

.container{
    width: 100%;
}
a{
    color:$font-color;
}

.title{
    font-size: 7vmin;
    margin: 2em auto 1em auto;
}

.img_container{
    width: clamp(0px, 90%, $max-width);
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
        width: 100%;
        margin-bottom: 0.5em;
        object-fit: contain;
        max-height: $max-height;
    }
}


.mosaique-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: calc(100vw * 0.19) calc(100vw * 0.19);

    img{
        width: 100%;
        object-fit: cover;
        transition: filter .5s ease,opacity .5s ease,-webkit-filter .5s ease;
        transform-origin: center center; /* Centre de l'image */
    }
    
    .img-container:nth-child(1){
        
        img{
            transform: scale(1.5);
        }
    }
    .img-container:nth-child(2){
        
        img{
            object-position: bottom;
            // transform-origin: left center; 
        }
    }
    
    .img-container:nth-child(3){
        
        img{
        }
    }
    
    .img-container:nth-child(4){

        img{
            object-position: 50% 75%;
        }
    }

    .img-container:nth-child(5){

        img{
            transform: scale(1.5);
        }
    }
    
    


    .img-container{
        position: relative;
        display: flex;
        overflow: hidden;
        grid-column: span 2

        
    }
    .overlay{
        position: absolute;
        opacity: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($color: #000000, $alpha: 0.75);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: filter .5s ease,opacity .5s ease,-webkit-filter .5s ease;
        cursor: pointer;

        h2{
            color: white;
            position: relative;
            font-size: 5vmin;
            
        }
    
        &:hover{
            opacity: 1;
        }
    }
}

.desktop{
    width: 100%;
}


@media screen and (min-width: 420px) {
    .img_container1{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        margin-top: 4vmax;

        img:first-child{
            grid-row: 1 / 3;
            align-self: baseline;
            justify-self: end;
        }

        img{
            align-self: baseline;
            margin-bottom: 0;
            max-height: $max-height;
        }
    }
}

